article {
  font-family: Arial, Helvetica, sans-serif;
}

article > div {
  border-style: dashed;
  box-shadow: 0 0 15px #f08080;
  border-width: 1px;
  border-radius: 12px;
  padding: 15px;
  margin: 20px;
}

article > a {
  color: red;
  font-weight: bold;
  margin: 20px;
  font-size: 20px;
}

img {
  border-radius: 90%;
  border-style: solid;
  border-width: 8px;
  border-color: red;
  box-shadow: 0 10px 10px #888888;
  height: 120px;
  width: 200px;
  margin-bottom: 30px;
}
